<!DOCTYPE html>
<html data-version="1.73">

<head>
	<meta charset="utf-8">
	<title>Vomnibar of Vimium C</title>
<style>
	body {
		border-radius: 5px;
		box-shadow: 0 2px 7px 0.5px rgba(0, 0, 0, 0.8);
		contain: content;
		margin: 9px 12px 10px;
		overflow: hidden;
		padding: 0;
		position: relative;
		white-space: nowrap;
	}

	.transparent {
		opacity: 1;
		transition: opacity 200ms;
	}

	#bar {
		background: #f1f1f1;
		border-bottom: 1px dashed #ccc;
		border-radius: 4px 4px 0 0;
		contain: strict;
		height: 34px;
		padding: 10px;
	}

	#bar.empty {
		border-radius: 4px;
		border: none;
	}

	#toolbar {
		color: #999;
		height: 20px;
		opacity: 0;
		position: absolute;
		right: 17px;
		text-align: center;
		top: 17px;
		transition: opacity 120ms 80ms;
		-webkit-user-select: none;
		user-select: none;
	}

	#toolbar:hover,
	.transparent #toolbar {
		opacity: 1;
	}

	.toggle {
		line-height: 22px;
	}

	.button {
		contain: strict;
		cursor: default;
		display: inline-block;
		height: 20px;
		margin-left: 4px;
		vertical-align: top;
		width: 20px;
	}

	.button:hover {
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.8);
	}

	#input {
		background: #fff;
		border: 0.5px solid #e8e8e8;
		border-radius: 3px;
		box-shadow: 0 0 1.5px #444;
		box-sizing: border-box;
		color: #000;
		contain: strict;
		height: 34px;
		outline: none;
		padding: 4px 9.5px;
		width: 100%;
	}

	#list {
		background: #fff;
		border-radius: 0 0 4px 4px;
		contain: content;
	}

	.item {
		border-bottom: 0.5px solid #ddd;
		box-sizing: border-box;
		contain: strict;
		height: 44px;
		padding: 4px 20px 0;
	}

	.b {
		border-bottom-style: none;
		border-radius: 0 0 4px 4px;
		height: 46px;
	}

	.item:hover {
		background-color: #cddbef;
		border: none;
	}

	.p {
		border-color: #bbcee9;
	}

	.s {
		background-color: #bbcee9;
		border: none;
	}

	.top {
		height: 20px;
		overflow: hidden;
	}

	.icon {
		background: right/16px no-repeat;
		fill: #999;
		height: 16px;
		margin: 1.5px 4px 0 0;
		padding-right: 20px;
		width: 16px;
		vertical-align: top;
	}

	.no-favicon .icon {
		margin-right: -16px;
		background: none !important;
	}

	.label {
		color: #999;
	}

	.bottom {
		height: 18px;
		line-height: 14px;
		margin-left: 20px;
		overflow: hidden;
	}

	a {
		color: #3b517d;
		cursor: text;
		text-decoration: none;
	}

	.mono-url a {
		font: 16px "PT Sans", sans-serif;
	}

	match {
		color: #000;
		font-weight: bold;
	}

	.title>match {
		text-decoration: underline;
	}

	.level-2 {
		padding-right: 32px;
	}

	.level-3 {
		padding-right: 48px;
	}

	.level-4 {
		padding-right: 60px;
	}

	.level-5 {
		padding-right: 72px;
	}

	.less-motion .transparent,
	.less-motion #toolbar {
		transition: none;
	}

	.tab {
		d: path("M0 20v40h48V20zm4 4h40v32H4zm4-12h48v40h-8v-4h4V16H12v4H8zm8-8h48v40h-8v-4h4V8H20v4h-4");
	}

	.math {
		d: path("M0 0h64v64H0zm4 4v56h56V4zm4 4h48v16H8zm4 4v8h40v-8zM8 28h12v12H8zm4 4v4h4v-4zm12-4h12v12H24zm4 4v4h4v-4zM8 44h12v12H8zm4 4v4h4v-4zm12-4h12v12H24zm4 4v4h4v-4zm12-20h16v28H40zm4 4v20h8V32");
	}

	.bookm {
		d: path("M32 0l8 20 24 2-20 14 6 26-18-14-20 14 8-26L0 22l24-2");
	}

	.search {
		d: path("M46 41h-3l-1-1a24 24 1 1 0-2 2l1.1 1.1v3L59 64l5-5zm-10-4a18 18 0 1 1 1-1");
	}

	.domain {
		d: path("M4,16v4h4l12,36h4L32,32l8,24h4L56,20h4v-4H48v4h2L42,48L34,24h-4l-8,24L14,20h4v-4");
	}

	.history {
		d: path("M8 10.8A32 32 0 1 1 0 32h6a26 26 1 1 0 6.25-17L20 23H0V3zM28 18v21l15 8 4-5-13-7V18");
	}

</style>
<style id="dark">
	#bar {
		background: #333;
		border-color: #666;
	}
	
	#list {
		background: #000;
		border: 1px solid #333;
		border-top: none;
	}
	
	#input {
		background: #000;
		border-color: #171717;
		box-shadow: 0 0 1.5px #ccc;
		color: #ccc;
	}
	
	#toolbar {
		color: #666;
		opacity: 1;
	}
	
	.button:hover {
		background: #000;
	}
	
	.item {
		border-color: #333;
		padding-left: 19px;
	}
	
	.item:hover {
		background-color: #101e32;
	}
	
	.p {
		border-color: #1b3355;
	}
	
	.s {
		background-color: #1b3355;
	}
	
	.top, match {
		color: #c4c4c4;
	}
	
	a {
		color: #97aace;
	}
	/* #omni */
/* .mono-url a, #input, .top, .bottom {
  font: 16px "PT Sans", sans-serif;
  height: unset;
}
.item {
  height: 50px;

}

.transparent {
  opacity: 1;
} */
</style>
</head>

<body>
<div id="bar">
	<input type="text" autocomplete="off" id="input" spellcheck="false" />
	<div id="toolbar">
		<span role="button" class="button toggle" id="toggle-dark" title="Toggle Dark">&#9789;
		</span><span role="button" class="button" id="close" title="Close">&#215;</span>
	</div>
</div>
<div id="list">
	<script type="text/x-template" id="template">
	<div class="item">
		<div class="top">
			<svg class="icon{{level}}{{favIcon}}" viewBox="0 0 64 64">
				<path class="{{typeIcon}}" />
			</svg><span class="title">{{title}}</span>{{label}}
		</div>
		<div class="bottom">
			<a>{{textSplit}}</a>
		</div>
	</div></script>
</div>
</body>
</html>
