/* Show tab close button only on hover */
/* 
.tabbrowser-tab .tab-close-button{
	display:none !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button{
	display:-moz-box !important;
} */

/* -------------------------------------------------------------------------------------------------------------- */

/* Bring back tab separator lines that were removed in Proton */

.tabbrowser-tab {
	border-inline-end: 1px solid transparent !important;
	border-image: 0 1 linear-gradient(transparent 20%,var(--toolbarseparator-color) 20%,var(--toolbarseparator-color) 80%,transparent 80%) !important;
}

.tabbrowser-tab:hover,
.tabbrowser-tab[beforehovered],
.tabbrowser-tab[selected],
.tabbrowser-tab[beforeselected-visible] {
	border-image: none !important;
}

/* Also remove giant gap between pinned and unpinned tabs */

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
	margin-inline-start: initial !important;
}
